<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaxiClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7862A50D1EF5CC7C009448B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7862A5211EF5CC7C009448B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7862A52C1EF5CC7C009448B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
